<p>This is the partial for view 2.</p>
<p>
  Showing of 'interpolate' filter:
  {{ 'Current version is v%VERSION%.' | interpolate }}
</p>

<div ng-click="openDialog()">Open dialog</div>
	<table class="table table-striped table-bordered">
	  <thead>
		<tr>
		  <td ng-repeat="header in progresstable.headers">{{header}}</td>
		</tr>
	  </thead>
	  <tbody>
		<tr  ng-repeat="(i, form) in progresstable.forms">
		  <td>{{form.name}}</td>
		  <td>{{form.pnr}}</td>
		  <td>{{form.score}}</td>
		  <td  ng-repeat="(j, criteria) in form.criterion" ng-click="update(criteria, i, j)">
			{{criteria.status}}<br>
			{{criteria.anotation}}<br>
			{{criteria.modifiedBy}} {{criteria.modifiedLast}}
		  </td>
		</tr>
	  </tbody>
	</table>

	<pre>
	  {{c}}
      {{progressId}}
	  {{r}}
	</pre>
