<p>This is the partial for view 2.</p>
<p>
  Showing of 'interpolate' filter:
  {{ 'Current version is v%VERSION%.' | interpolate }}
</p>
    {{progressId}}
	<table class="table table-striped table-bordered">
	  <thead>
		<tr>
		  <td ng-repeat="(i,header) in progresstable.headers">{{header}}</td>
		</tr>
	  </thead>
	  <tbody>
		<tr>
		  <td>Andersson, Anna</td>
		  <td>1234567890</td>
		  <td>25%</td>
		  <td>
			Inlämnad<br>
			Ser bra ut...<br>
			karlb 2014-04-15
		  </td>
		  <td>
			Klar<br>
			Bra gjort<br>
			karlb 2014-04-20
		  </td>
		  <td>
			Rest<br>
			Behöver lämna in en rapport<br>
			karlb 2014-04-25
		  </td>
		</tr>
		<tr>
		  <td>Björnsson, Bertil</td>
		  <td>1234567891</td>
		  <td>25%</td>
		  <td>
			Inlämnad<br>
			Ser bra ut...<br>
			karlb 2014-04-15
		  </td>
		  <td>
			Klar<br>
			Bra gjort<br>
			karlb 2014-04-20
		  </td>
		  <td>
			Rest<br>
			Behöver lämna in en rapport<br>
			karlb 2014-04-25
		  </td>
		</tr>
	  </tbody>
	</table>
{{r}}
